extends layout

block content
  .card-group
    each product in products
      .card
        img.card-img-top(src=product.imageUrl, alt=product.name)
        .card-body
          h5.card-title= product.name
          small.text-muted= product.location
          p.card-text= product.description
          small.text-muted= product.contact